$main_bg: #020202;
$text_color: #a8a8a8;
$flip_item_bg: #1a1a1a;
$primary: #0097a3;
$cyan: #57f6e4;
$blue: #1976d2;
$green: #56ec30;
$red: #d72827;
$orange: #febc04;
$yellow: #fff420;
$lightyellow: #ffff88;
$lightgray: #cecece;
$lightgray2: #a0a0a0;
$gray: #828282;
$dark: #323232;
$pink: #ff4969;

$white_01: rgba(255, 255, 255, 0.1);
$white_02: rgba(255, 255, 255, 0.2);
$white_03: rgba(255, 255, 255, 0.3);
$white_04: rgba(255, 255, 255, 0.4);
$white_05: rgba(255, 255, 255, 0.5);
$white_06: rgba(255, 255, 255, 0.6);
$white_07: rgba(255, 255, 255, 0.7);
$white_08: rgba(255, 255, 255, 0.8);
$white_09: rgba(255, 255, 255, 0.9);
$white_10: rgba(255, 255, 255, 1.0);

$black_01: rgba(0, 0, 0, 0.1);
$black_02: rgba(0, 0, 0, 0.2);
$black_03: rgba(0, 0, 0, 0.3);
$black_04: rgba(0, 0, 0, 0.4);
$black_05: rgba(0, 0, 0, 0.5);
$black_06: rgba(0, 0, 0, 0.6);
$black_07: rgba(0, 0, 0, 0.7);
$black_08: rgba(0, 0, 0, 0.8);
$black_09: rgba(0, 0, 0, 0.9);
$black_10: rgba(0, 0, 0, 1.0);
