$main_bg: #020202;
$text_color: #a8a8a8;
$primary: #0097a3;
$cyan: #57f6e4;
$blue: #1976d2;
$green: #56ec30;
$red: #d72827;
$orange: #febc04;
$yellow: #fff420;
$lightyellow: #ffff88;
$lightgray: #cecece;
$gray: #828282;
$dark: #323232;
$pink: #ff4969;
